/* ebay menu */
.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

.product-image {
    max-width: 100%;
    border-radius: 5px;
}

.watching {
    color: red;
}

/* Seach Area */
.search-container {
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 50px auto;
    background: white;
    border-radius: 30px;
    padding: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.category-select {
    border: none;
    background: none;
    font-size: 14px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
}

.search-input {
    flex-grow: 1;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 20px;
    outline: none;
}

.search-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

.search-button:hover {
    background-color: #0056b3;
}

/* navigation menu */

.navigation-menu {
    align-items: center;
}


/* flex grid */

.flex-grid-container {
    width: 100%;
}

.flex-grid-container.list-type {
    margin: "10px 0";
}

.flex-grid-container.list-type .flex-grid-item {
    width: 100%;
    margin-bottom: 10px;
}

.flex-grid-container.list-type {
    margin: "10px 0";
}

.flex-grid-container.list-type .flex-grid-item .wrap-content {
    display: flex;
}

.flex-grid-container.list-type .flex-grid-item .wrap-content .item-image {
    width: 100px;
}

.flex-grid-container.list-type .flex-grid-item .wrap-content .item-content {
    flex: 1
}

/* .item-image {}

.item-content {} */

.flex-grid-container.card-type {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-grid-container.card-type .flex-grid-item {
    width: 30%;
}

.flex-grid-container.card-type .flex-grid-item .wrap-content {
    display: block;
}

.flex-grid-container.card-type .flex-grid-item .wrap-content .item-image {
    width: 100%;
}

/* scroll */

.scoll-element {
    overflow-y: auto;
}